<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Library</title>
  <link rel="stylesheet" href="/stylesheets/mainpagecss/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/mainpagecss/stylemain.css">
  <link rel="stylesheet" href="/stylesheets/mainpagecss/mbr-additional.css" type="text/css">
  <link rel="icon" type="image/x-icon" href="/images/book.png">
  
</head>
<body>

<section class="header2 cid-s1YLYYtmhw"> 
    <div class="container align-center">
        <span class="mbr-section-title align-center pb-2 mbr-semibold text-black  mbr-fonts-style display-5">LIBRARY</span>        
</div>
</section>

<section class="features3 cid-s1YM3FtOOn" id="features3-3">
    <div class="container mbr-white">
        <div class="row justify-content-center">

            <div class="card md-pb first col-12 col-md-6 col-lg-4">
                <a href="/books">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">Books</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                           Book System and Used System</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/images/02.jpg" alt="Error while uploading the image">
                    </div>
                </div>
            </div>

            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <a href="/employee">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">Employees</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Employee and Order System</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/images/01.png" alt="Error while uploading the image">
                    </div>
                </div>
            </div>



            <div class="card last col-12 col-md-6 col-lg-4">
                <a href="/user">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">
                        
                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">Users</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            User System</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/images/03.jpg" alt="Error while uploading the image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body></html>