<!-- This example requires Tailwind CSS v2.0+ -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:pb-24 lg:px-8">  
      <div *ngIf="user && user.receipts" class="mt-4 overflow-auto">
        <div *ngIf="user.receipts.length == 0">
          <h1 class="font-bold text-3xl p-4">You dont have orders</h1>
        </div>
        <div *ngFor="let order of user.receipts" class="mb-16 bg-gray-100 rounded-lg p-4"> 
            <div>
            <div class="bg-gray-50 rounded-lg py-6 px-4 sm:px-6 sm:flex sm:items-center sm:justify-between sm:space-x-6 lg:space-x-8">
                <div class="flex justify-between sm:block">
                  <dt class="font-medium text-gray-900">Date placed</dt>
                  <dd class="sm:mt-1">
                    <time> {{order.creationDate | date:'medium'}} </time>
                  </dd>
                </div>
                <div class="flex justify-between sm:block">
                  <dt class="font-medium text-gray-900">Order number</dt>
                  <dd class="sm:mt-1">{{order._id}}</dd>
                </div>
                <div class="flex justify-between sm:block">
                  <dt>Total amount</dt>
                  <dd class="sm:mt-1">{{order.totalPrice - order.promo | number:'1.2-2'}} €</dd>
                </div>
                <div *ngIf="order.promo != 0" class="flex justify-between sm:block">
                  <dt>Promo</dt>
                  <dd class="sm:mt-1">{{order.promo | number:'1.2-2'}} €</dd>
                </div>
            </div>
  
            <table class="mt-4 w-full text-gray-500 sm:mt-6">
              <caption class="sr-only">
                Books
              </caption>
              <thead class="sr-only text-sm text-gray-500 text-left sm:not-sr-only">
                <tr>
                  <th scope="col" class="sm:w-2/5 lg:w-1/3 pr-8 py-3 font-normal">Book</th>
                  <th scope="col" class="hidden w-1/5 pr-8 py-3 font-normal sm:table-cell">Price</th>
                  <th scope="col" class="hidden pr-8 py-3 font-normal sm:table-cell">Quantity</th>
                  <th scope="col" class="w-0 py-3 font-normal text-right">Info</th>
                </tr>
              </thead>
              <tbody *ngIf="order.productsInfo" class="border-b border-gray-200 divide-y divide-gray-200 text-sm sm:border-t">
                <tr *ngFor="let book of order.productsInfo">
                  <td class="py-6 pr-8">
                    <div class="flex items-center">
                      <img src="http://localhost:3000/uploads/bookCovers/{{book.coverImageName}}" alt="Book" class="w-16 h-24 rounded mr-6">
                      <div>
                        <div class="font-medium text-gray-900">{{book.title}}</div>
                        <div class="mt-1">{{book.author}}</div>
                        <div class="mt-1">{{(book.price) | number:'1.2-2'}} €</div>
                      </div>
                    </div>
                  </td>
                  <td class="hidden py-6 pr-8 sm:table-cell">{{book.price * book.qt | number:'1.2-2'}} €</td>
                  <td class="hidden py-6 pr-8 sm:table-cell">{{book.qt}}</td>
                  <td class="py-6 font-medium text-right whitespace-nowrap">
                    <a href="/books/details/{{book._id}}" class="text-indigo-600">View</a>
                  </td>
                </tr>
  
                <!-- More products... -->
              </tbody>
            </table>
          </div>
  
          <!-- More orders... -->
        </div>
      </div>
    </div>
  
