<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 ">
    <div class="flex text-center sm:block sm:px-6 lg:px-8 w-full" style="font-size: 0">

        <div class="hidden sm:block sm:fixed sm:inset-0 sm:bg-gray-500 sm:bg-opacity-75 sm:transition-opacity"
            aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="text-base text-left transform transition w-2/5 sm:inline-block sm:my-8 sm:align-middle">
            <form style="height: 700px" [formGroup]="cartForm"
                class="overflow-y-auto w-full relative flex flex-col bg-white pt-6 pb-8 overflow-hidden sm:pb-6 sm:rounded-lg lg:py-8">
                <div class="flex items-center justify-between px-4 sm:px-6 lg:px-8">
                    <h2 class="text-lg font-medium text-gray-900">Shopping Cart</h2>
                    <button data-modal-toggle="defaultModal" type="button" class="text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Close</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <section class="overflow-auto" aria-labelledby="cart-heading">

                    <div class="divide-y divide-gray-200 px-4 sm:px-6 lg:px-8">
                        <div *ngFor="let item of cart?.books; index as i" class="py-8 flex text-sm sm:items-center">
                            <img src="http://localhost:3000/uploads/bookCovers/{{item.coverImageName}} "
                                alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                                class="flex-none w-24 h-32 rounded-lg border border-gray-200 sm:w-32 sm:h-40">
                            <div
                                class="ml-4 flex-auto grid gap-y-3 gap-x-5 grid-rows-1 grid-cols-1 items-start sm:ml-6 sm:flex sm:gap-0 sm:items-center">
                                <div class="flex-auto row-end-1 sm:pr-6">
                                    <h3 class="font-medium text-gray-900">
                                        <a href="#">{{item.title}}</a>
                                    </h3>
                                    <p class="mt-1 text-gray-500">{{item.isbn}}</p>
                                    <p class="mt-1 text-gray-500">{{item.price}} €</p>
                                </div>

                                <div class="flex items-center sm:flex-none sm:block sm:text-center">
                                    <input type="number" name="{{item._id}}" formControlName="{{item._id}}" min="1"
                                        class="block max-w-full rounded-md border border-gray-300 py-1.5 text-base leading-5 font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <div *ngIf="getControl(item._id)">
                                        <div *ngIf="getControl(item._id).invalid && (getControl(item._id).dirty || getControl(item._id).touched)"
                                            class="alert alert-danger">
                                            <div class="text-red-300" *ngIf="getControl(item._id).errors?.['required']">
                                                Quantity is required.
                                            </div>
                                            <div class="text-red-300"
                                                *ngIf="getControl(item._id).errors?.['min'] || getControl(item._id).errors?.['max']">
                                                Quantity between 1 and {{item.qt}}
                                            </div>
                                        </div>
                                    </div>

                                    <button (click)="onRemove(item._id)" type="button"
                                        class="ml-4 font-medium text-indigo-600 hover:text-indigo-500 sm:ml-0 sm:mt-2">
                                        <span>Remove</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- More products... -->
                </section>

                <section aria-labelledby="summary-heading" class="mt-auto sm:px-6 lg:px-8 h-40">
                    <div class="bg-gray-50 p-6 sm:p-8 sm:rounded-lg">
                        <h2 id="summary-heading" class="sr-only">Order summary</h2>

                        <div *ngIf="cart" class="flow-root">
                            <dl class="text-sm divide-y divide-gray-200">
                                <div class="py-4 flex items-center justify-between">
                                    <dt class="text-gray-600">Subtotal</dt>
                                    <dd class="font-medium text-gray-900">{{cart.totalPrice + discont | number:'1.2-2'}} €</dd>
                                </div>
                                <div class="py-2 flex items-center justify-between">
                                    <dt class="text-gray-600">Promo</dt>
                                    <div class="flex items-center justify-between">
                                        <dt class="text-gray-600">Your points: {{user.points | number:'1.2-2'}}</dt>

                                        <input type="number" name="points" formControlName="points" min="1"
                                            class="block max-w-full rounded-md border border-gray-300 py-1.5 text-base leading-5 font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <div *ngIf="getControl('points')">
                                            <div class="text-red-300"
                                                *ngIf="getControl('points').errors?.['min'] || getControl('points').errors?.['max']">
                                                Quantity between 10 and {{user.points | number:'1.2-2'}}
                                            </div>
                                        </div>
                                    </div>
                                    <dd class="font-medium text-gray-900">{{discont | number:'1.2-2'}} €</dd>
                                </div>
                                <div class="py-4 flex items-center justify-between">
                                    <dt class="text-base font-medium text-gray-900">Order total</dt>
                                    <dd class="text-base font-medium text-gray-900">{{cart.totalPrice | number:'1.2-2'}} €</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </section>
                <div *ngIf="cart" class="mt-8 flex justify-end px-4 sm:px-6 lg:px-8">
                    <button [disabled]="cart.totalPrice == 0" data-modal-toggle="defaultModal" type="submit" (click)="makePayment(cart.totalPrice)"
                        class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">Continue
                        to Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>