<div class="flex pt-36 justify-center h-5/6 bg-orange-100">
    <div class="flex w-[40rem] flex-col space-y-10">
        <div class="text-center text-4xl font-medium">LogIn</div>
        <form [formGroup]="formUser" (ngSubmit)="login()">
            <div class="pb-6">
                <div
                    class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                    <input type="email" formControlName="email" [(ngModel)]="email1" name="email" placeholder="Email..."
                        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
                </div>
                <div *ngIf="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">Email is required.</div>
                        <div *ngIf="email.errors?.['email']">
                            Invalid email.
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <div
                    class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                    <input type="password" formControlName="password" [(ngModel)]="password1" name="password"
                        placeholder="Password..."
                        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
                </div>
                <div *ngIf="password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors?.['required']">Password is required.</div>
                        <div *ngIf="password.errors?.['minlength']">
                            Password must be at least 8 characters long.
                        </div>
                        <div *ngIf="password.errors?.['maxlength']">
                            Password cant have more then 20 characters.
                        </div>
                    </div>
                </div>
            </div>
            <button class="transform rounded-sm bg-indigo-300 py-2 font-bold duration-300 hover:bg-indigo-100 w-full"
                type="submit" [disabled]="!formUser.valid">
                LOGIN
            </button>
            <p class="text-center text-lg">
                No account?
                <a href="/register" class="font-medium text-indigo-400 underline-offset-4 hover:underline">CreateOne</a>
            </p>
            <div *ngIf="message"
                class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
                role="alert">
                <svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd"></path>
                </svg>
                <div>
                    <span class="font-medium">Danger alert!</span> {{message}}
                </div>
            </div>
        </form>
    </div>
</div>